/* background-color: transparent; */
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 12px;
}

.left {
    min-width: 300px;
    max-width: 500px;
    width: 40%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 240px 1fr;
}

.right {
    width: 100%;
    height: 100%;
}

.right-top {
    border-radius: 6px;
    margin: 6px;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    /* border: solid 1px white; */
    padding: 12px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 40px 2fr 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);

    width: 280px;
}

.right-bottom {
    width: 100%;
    height: 100%;
    /* background-color: rgb(147, 226, 43); */
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-selector>span {
    line-height: 36px;
}

.sidebar-selector>i {
    font-size: 28px;
    align-self: center;
}

.sidebar-selector {
    background-color: #fff0;
    transition: background-color 0.2s ease-in-out;
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-template-rows: 36px;
    grid-column-gap: 12px;
    grid-row-gap: 0px;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 3px;
    padding-left: 6px;
    align-content: center;
    line-height: 48px;
    border-radius: 3px;
    cursor: pointer;
    margin-block: 3px;
    font-weight: 300;
}

.sidebar-selector:hover {
    background-color: #fff4;
}

.sidebar-selector[data-active="true"] {
    background-color: #fff3;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-selector[data-active="true"]:hover {
    background-color: #fff8;
    transition: background-color 0.2s ease-in-out;
}

.test {
    top: 50%;
    left: 30px;
    position: relative;
    background-color: red;
    display: block;
    width: 40px;
    height: 40px;
}

input[type="text"] {
    font-size: 16px;
    background-color: #333;
    outline: 0px solid #fff8;
    ;
    border: 1px solid #fff4;
    border-radius: 6px;
    color: #eee;
    line-height: 24px;
    height: auto;
    padding-inline: 12px;
    padding-block: 3px;
    font-weight: 300;
    transition: border 0.1s ease-in-out;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="text"]:active {
    outline: 2px solid #fff8;
    transition: outline 0.1s ease-in-out;
}

@keyframes settings-button-hover {}

span.settings-header {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 24px;
    font-weight: 100;
    display: block;
}

span.settings-subcategory {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 6px;
    display: block;
    font-weight: 300;
}

div.settings-element {
    height: 36px;
    display: grid;
    grid-template-rows: 36px;
    grid-column-gap: 12px;
    grid-row-gap: 0px;
    align-items: center;
    box-sizing: border-box;
    padding-left: 18px;
    color: white;
    border-radius: 6px;
    width: calc(100% - 12px);
    margin-block: 6px;
    position: relative;
}

div.settings-element.regular {
    grid-template-columns: 60% 40%;
    filter: drop-shadow(0px 0px 5px #0006);
    box-sizing: border-box;
    padding-right: 12px;
}

div.settings-element.button {
    grid-template-columns: 1fr 36px;
    background-color: #fff2;
    box-shadow: 0px 0px 10px #0006;
    filter: drop-shadow(0px 0px 0px #fff0);
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
}




div.settings-element.button:hover {
    filter: drop-shadow(0px 0px 10px #fff6);
    transition: filter 0.2s ease-in-out;
}

div.settings-element>.text {
    font-size: 15px;
    font-weight: 300;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    line-height: 36px;
}

color-picker {
    height: 24px;
    aspect-ratio: 1;
    border: solid 2px white;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
}

div.right-top>div.header {
    grid-area: 1 / 1 / 2 / 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

div.header>span {
    padding-left: 6px;
    font-size: 24px;
    font-weight: 300;
    align-self: center;
}

div.header>div {
    align-self: center;
    justify-self: center;
    display: block;
    border: solid 1px #fff7;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 3px;
    display: grid;
    cursor: pointer;
}

div.header>div:hover {
    background-color: #fff2;
}

div.header>div>i {
    align-self: center;
    justify-self: center;
    font-size: 18px;
}

div.right-top>div.profile-picture {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    display: block;
    background-color: #fff5;
    overflow: hidden;
}

div.profile-picture>img {
    height: 100%;
    width: 100%;
}

div.profile-info {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6px 24px 18px 6px 42px;
}

div.profile-info>div.username {
    align-content: center;
    font-weight: 500;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888;
}

div.profile-info>div.nickname {
    align-content: center;
    font-weight: 300;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.status {
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 300;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 13px;
    padding-block: 3px;
    box-sizing: border-box;
    color: #aaa;
}

div.profile-buttons {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 3px;
    padding-inline: 4px;
}

div.profile-buttons>div.button {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    border: solid 1px white;
    align-self: center;
    font-size: 14px;
    font-weight: 300;
    border-radius: 18px;
    height: 24px;
    cursor: pointer;
    box-sizing: border-box;
    align-self: end;
}

div.profile-buttons>div.button:hover {
    background-color: #fff2;
}

div.profile-buttons>div.button[data-amount]:not([data-amount="0"]):not([data-amount=""]) {
    font-weight: 500;
    border: solid 2px white;
}

div.profile-buttons>div.button[data-amount]:not([data-amount="0"]):not([data-amount=""])::after {
    content: attr(data-amount);
    background-color: #d44334;
    height: 18px;
    min-width: 18px;
    width: auto;
    bottom: 26px;
    position: absolute;
    margin-left: 107px;
    padding: 2px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    border-radius: 100px;
    font-size: 12px;
}