desktop-environment {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 100;
    display: block;
    transition: scale 0.2s ease-in-out;
    box-shadow: 0 0 24px black;
    scale: 1;
    transition: scale 0.1s ease-in-out;
}

desktop-environment::before {
    visibility: hidden;
    backdrop-filter: blur(0) contrast(1) saturate(1);
    z-index: 4;
    position: fixed;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    inset: 0;
    opacity: 0;
    transition: backdrop-filter 0.2s ease-in-out, opacity 0.2 ease-in-out, visibility 0s ease 0.2s;
}

desktop-environment[data-edit-mode="true"] {
    scale: 0.9;
    transition: scale 0.1s ease-in-out;
}

desktop-environment[data-edit-mode="true"]::before {
    visibility: visible;
    backdrop-filter: blur(2px) contrast(0.5) saturate(0.5);
    opacity: 1;
    transition: backdrop-filter 0.2s ease-in-out, opacity 0.2 ease-in-out, visibility 0s ease;
}

desktop-layer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: fixed;
}

desktop-layer>* {
    visibility: visible;
}

edge-selector-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 64px 1fr 64px 1fr 64px;
    grid-template-rows: 64px 1fr 64px 1fr 64px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 100000000;
    position: fixed;
    visibility: hidden;
}

edge-selector {
    visibility: visible;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    background-color: #fff6;
    backdrop-filter: blur(15px);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-shadow: 0 0 8px black;
}




edge-selector:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

edge-selector:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}

edge-selector:nth-child(3) {
    grid-area: 1 / 5 / 2 / 6;
}

edge-selector:nth-child(4) {
    grid-area: 3 / 1 / 4 / 2;
}

edge-selector:nth-child(5) {
    grid-area: 3 / 5 / 4 / 6;
}

edge-selector:nth-child(6) {
    grid-area: 5 / 1 / 6 / 2;
}

edge-selector:nth-child(7) {
    grid-area: 5 / 3 / 6 / 4;
}

edge-selector:nth-child(8) {
    grid-area: 5 / 5 / 6 / 6;
}

edge-selector::after {
    position: absolute;
    background: #2228;
    box-shadow: 0 0 6px #0008;
    white-space: nowrap;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease 0.3s;
    visibility: hidden;
    backdrop-filter: blur(15px);
}

edge-selector:hover::after {
    opacity: 1;
    transition: opacity 0.3s ease;
    visibility: visible;
}

edge-selector:nth-child(1)::after {
    content: "Align to top left corner";
    justify-self: left;
    align-self: bottom;
    top: 100%;
}

edge-selector:nth-child(2)::after {
    content: "Align to top edge";
    justify-self: center;
    align-self: bottom;
    top: 100%;
}

edge-selector:nth-child(3)::after {
    content: "Align to top right corner";
    justify-self: right;
    align-self: bottom;
    top: 100%;
}

edge-selector:nth-child(4)::after {
    content: "Align to left edge";
    justify-self: left;
    left: 100%;
    align-self: center;
}

edge-selector:nth-child(5)::after {
    content: "Align to right edge";
    justify-self: right;
    right: 100%;
    align-self: center;
}

edge-selector:nth-child(6)::after {
    content: "Align to bottom left corner";
    justify-self: left;
    bottom: 100%;
}

edge-selector:nth-child(7)::after {
    content: "Align to bottom edge";
    justify-self: center;
    bottom: 100%;
}

edge-selector:nth-child(8)::after {
    content: "Align to bottom right corner";
    justify-self: right;
    bottom: 100%;
}

edge-selector>i.rotate-45 {
    rotate: 45deg;
}

edge-selector>i.rotate-90 {
    rotate: 90deg;
}

edge-selector>i.rotate-135 {
    rotate: 135deg;
}

edge-selector>i.rotate-180 {
    rotate: 180deg;
}

edge-selector>i.rotate-225 {
    rotate: 225deg;
}

edge-selector>i.rotate-270 {
    rotate: 270deg;
}

edge-selector>i.rotate-315 {
    rotate: 315deg;
}

edge-selector>i {
    align-self: center;
    justify-self: center;
    color: white;
    filter: drop-shadow(0 0 3px #0008)
}

desktop-panel {
    /* --fill-available: -webkit-fill-available;
    --fill-available: -moz-available; */
    --fill-available: 100%;
    --margin-block: 0;
    --margin-inline: 0;
    --animation-speed: 0.05s;
    --panel-height: 48px;
    --panel-width: 120px;
    --transition: margin var(--animation-speed) ease, border-radius var(--animation-speed) ease, width 0.06s ease, border 0.1s ease;
    padding: var(--panel-padding);
    border-radius: var(--panel-border-radius);
    display: block;
    position: fixed;
    /* vertical offset */
    margin-inline: var(--margin-inline);
    /* horizontal offset */
    margin-block: var(--margin-block);
    /* anchorX */
    justify-self: center;
    /* anchorY */
    align-self: self-end;
    transition: var(--transition);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 4px #0006;
    max-width: calc(100% - 2 * var(--margin-inline));
    max-height: calc(100% - 2 * var(--margin-block));
    width: var(--panel-width);
    height: var(--panel-height)
}

desktop-panel[floating="false"][edgeY="bottom"],
desktop-panel[floating="false"][edgeY="top"] {
    margin-block: 0 !important;
    transition: var(--transition)
}

desktop-panel[floating="false"][edgeY="bottom"] {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    transition: var(--transition)
}

desktop-panel[floating="false"][edgeY="top"] {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    transition: var(--transition)
}

desktop-panel[floating="false"][edgeX="left"],
desktop-panel[floating="false"][edgeX="right"] {
    margin-inline: 0 !important;
    transition: var(--transition)
}

desktop-panel[floating="false"][edgeX="left"] {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    transition: var(--transition)
}

desktop-panel[floating="false"][edgeX="right"] {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    transition: var(--transition)
}

desktop-panel[fullwidth="true"][edgeY="bottom"]:not([edgeX="left"]):not([edgeX="right"]),
desktop-panel[fullwidth="true"][edgeY="top"]:not([edgeX="left"]):not([edgeX="right"]) {
    width: var(--fill-available) !important;
}

desktop-panel[fullwidth="true"][edgeX="right"]:not([edgeY="top"]):not([edgeY="bottom"]),
desktop-panel[fullwidth="true"][edgeX="left"]:not([edgeY="top"]):not([edgeY="bottom"]) {
    height: var(--fill-available) !important;
}


panel-settings {
    width: 300px;
    height: 400px;
    position: absolute;
    padding: 12px;
    border-radius: 12px;
    display: grid;
    z-index: 102;
    background-color: #fff4;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 12px #0008;
    transition: translate 0.15s ease, visibility 0.1s ease 0.1s;
    visibility: visible;
}

panel-settings[edgeV="bottom"] {
    bottom: calc(100% + 12px);
    left: 50%;
    translate: -50%;
}

panel-settings[edgeV="top"] {
    top: calc(100% + 12px);
    left: 50%;
    translate: -50%;
}

panel-settings[edgeH="left"] {
    left: calc(100% + 12px);
    top: 50%;
    translate: 0 -50%;
}

panel-settings[edgeH="right"] {
    right: calc(100% + 12px);
    top: 50%;
    translate: 0 -50%;
}

panel-settings[edgeH="right"][edgeV="top"] {
    top: calc(100% + 12px);
    right: 12px;
    translate: 0 0;
    left: unset;
    bottom: unset;
}

panel-settings[edgeH="left"][edgeV="top"] {
    top: calc(100% + 12px);
    left: 12px;
    translate: 0 0;
    right: unset;
    bottom: unset;
}

panel-settings[edgeH="right"][edgeV="bottom"] {
    bottom: calc(100% + 12px);
    right: 12px;
    translate: 0 0;
    left: unset;
    top: unset;
}

panel-settings[edgeH="left"][edgeV="bottom"] {
    bottom: calc(100% + 12px);
    left: 12px;
    translate: 0 0;
    right: unset;
    top: unset;
}



panel-settings[data-hidden="true"] {
    transition: translate 0.15s ease, visibility 0.1s ease 0.1s;
    visibility: hidden;
}

panel-settings[edgeH="left"][edgeV="top"][data-hidden="true"] {
    translate: 0% calc(-100% - var(--panel-height) - var(--margin-block) - 36px);
    visibility: hidden;
}

panel-settings[edgeH="center"][edgeV="top"][data-hidden="true"] {
    translate: -50% calc(-100% - var(--panel-height) - var(--margin-block) - 36px);
    visibility: hidden;
}

panel-settings[edgeH="right"][edgeV="top"][data-hidden="true"] {
    translate: 0% calc(-100% - var(--panel-height) - var(--margin-block) - 36px);
    visibility: hidden;
}

panel-settings[edgeH="left"][edgeV="center"][data-hidden="true"] {
    translate: calc(-100% - var(--panel-width) - var(--margin-inline) - 36px) -50%;
    visibility: hidden;
}

panel-settings[edgeH="right"][edgeV="center"][data-hidden="true"] {
    translate: calc(100% + var(--panel-width) + var(--margin-inline) + 36px) -50%;
    visibility: hidden;
}

panel-settings[edgeH="left"][edgeV="bottom"][data-hidden="true"] {
    translate: 0% calc(100% + var(--panel-height) + var(--margin-block) + 36px);
    visibility: hidden;
}

panel-settings[edgeH="center"][edgeV="bottom"][data-hidden="true"] {
    translate: -50% calc(100% + var(--panel-height) + var(--margin-block) + 36px);
    visibility: hidden;
}

panel-settings[edgeH="right"][edgeV="bottom"][data-hidden="true"] {
    translate: 0% calc(100% + var(--panel-height) + var(--margin-block) + 36px);
}

panel-settings:hover {
    background-color: #f004;
}


div.exitEditModeContainer {
    width: 100%;
    height: 100%;
    display: grid;
    position: fixed;
    z-index: 2000000000;
    visibility: hidden;
}

div.exitEditMode {
    justify-self: center;
    align-self: flex-start;
    place-items: center center;
    display: grid;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    visibility: visible;
    background: #2228;
    box-shadow: 0 0 12px #0008;
    padding-inline: 12px;
    padding-block: 6px;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    cursor: pointer;
    translate: 0 0;
    transition: translate 50ms ease-in-out, background-color 150ms ease-in-out;
}

div.exitEditMode:hover {
    background: #0004;
    transition: translate 50ms ease-in-out, background-color 150ms ease-in-out;
}

div.exitEditMode:active {
    translate: 2px 2px;
    background: #0008;
    transition: translate 50ms ease-in-out, background-color 150ms ease-in-out;
}

div.exitEditMode:hover>* {
    display: inline-block;
    filter: drop-shadow(0 0 6px white)
}



desktop-environment:has(desktop-layer > desktop-panel[edgey="bottom"] > panel-settings[data-hidden="false"])>div.exitEditModeContainer>div.exitEditMode {
    --margin-block: 36px;
    margin-bottom: var(--margin-block)
}


number-box>input[type="text"] {
    width: fit-content;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
    transition: width 0.05s ease;
}

number-box {
    width: fit-content;
    height: 24px;
    display: grid;
    grid-template-columns: 18px auto 18px;
    background: var(--primaryBackground);
    padding: 6px;
    border-radius: 6px;
}

number-box>div {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

number-box>div::after {
    content: "";
    background-color: #fff4;
    position: absolute;
    width: 19px;
    height: 19px;
    align-self: center;
    border-radius: 100%;
    justify-self: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

number-box>div:hover::after {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}
