:root,
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    user-select: none;
    scroll-behavior: smooth;
    scrollbar-color: #fff3 transparent;
    scrollbar-width: thin;
}

b,
i,
em,
strong {
    color: inherit;
}

body {
    /* background-image: url("/media/images/mountain.jpg"); */
    background-image: url("/media/images/iceland.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.desktop-symbols-container-outer {
    height: calc(96% - 64px);
    width: 100%;
    display: block;
    position: fixed;
    top: 1%;
    z-index: -2;
}

.desktop-symbols-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 5%);
    grid-template-rows: repeat(auto-fill, 72px);
    ;
}

.error-bg {
    position: absolute;
    height: 100%;
    width: 100%;
}



div.sm-topbar {
    height: 48px;
    width: 100%;
    position: relative;
    border-bottom: solid 1px #fff8;
}

div.sm-topbar[data-login="false"] {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    column-gap: 6px;
}

div.sm-topbar[data-login="true"] {
    display: grid;
    grid-template-columns: 48px 1fr 2fr 48px;
    column-gap: 6px;
}


input[type="text"][data-type="desktopsearch"] {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

input[type="text"][data-type="desktopsearch"]:focus {
    outline: none;
    border: none;
}

input#login {
    height: 36px;
    width: 100%;
    border-radius: 18px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}

input#login:hover {
    background-color: #fff2;
}

input#login:active {
    background-color: #fff4;
}

input#signup {
    height: 36px;
    width: 100%;
    border-radius: 18px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    cursor: pointer;
    font-size: 16px;
}

input#signup:hover {
    background-color: #fff2;
}

input#signup:active {
    background-color: #fff4;
}


a.settingsbutton {
    height: 48px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

div.sm-topbar>div.centerelement {
    display: grid;
    grid-template-columns: 1fr 45px;
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 45px;
    column-gap: 12px;
}

div.sm-topbar>div.centerelement>div.user-container {
    display: grid;
    width: 100%;
    position: relative;
    justify-content: right;
    align-items: center;
    grid-template-rows: 70% 3%;
    height: 100%;
}

div.sm-topbar>div.centerelement>div.user-container>div.nickname {
    color: white;
    font-size: large;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 12px;
}

div.sm-topbar>div.centerelement>div.user-container>div.username {
    color: white;
    font-size: small;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 12px;
    font-weight: 300;
}

div.sm-topbar>div.centerelement>div.userpfp {
    height: 100%;
    position: relative;
    aspect-ratio: 1;
    background-size: contain;
    border-radius: 100%;
}

div.snap-preview {

    position: fixed;
    z-index: 9990;
    backdrop-filter: blur(14px);
    border-radius: 6px;
    background-color: #fff2;
    opacity: 1;

}

div.snap-preview[data-visible="true"] {
    height: calc(100% - 12px) !important;
    width: calc(100% - 12px) !important;
    top: 6px !important;
    left: 6px !important;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
}

div.snap-preview[data-visible="false"] {
    visibility: hidden;
    opacity: 1;
}


.notification-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 3px;
}

.notification-icon>img {
    height: 100%;
    width: 100%;
}

.notification-main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 24px fit-content;
}

.notification-title {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notification-text {
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}


.desktop-clock {
    z-index: -1;
    width: 260px;
    height: 120px;
    display: block;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 5px #0008)
}

.desktop-clock::before {
    content: attr(data-time);
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 96px;
    font-weight: 100;
    display: block;
    position: absolute;
}

.desktop-clock::after {
    content: attr(data-date);
    bottom: 0;
    font-size: 18px;
    font-weight: 100;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 300;
    filter: drop-shadow(0 0 5px #0008)
}

desktop-hub {
    position: fixed;
    inset: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #0006;
    backdrop-filter: blur(5px);
    z-index: 10000;
    box-sizing: border-box;
    padding: 48px;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 64px 1fr 20%;
    grid-column-gap: 36px;
    grid-row-gap: 18px;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.2);
    transform-origin: center center;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, visibility 0.1s steps(1, end);
}

desktop-hub[data-open="true"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    transform: scale(1);
    transform-origin: center center;
}

desktop-hub>.hub-title {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 54px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    box-sizing: border-box;
    padding: 4px;
}

desktop-hub>.hub-title>.settings-button {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

desktop-hub>.hub-title>.settings-button:hover {
    color: #ddd;
}

desktop-hub>.hub-title>.settings-button:active {
    color: #aaa;
}



desktop-hub>.hub-title>.title {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

desktop-hub>.hub-title>.title>span {
    font-size: 48px;
    color: white;
    font-weight: 100;
}

desktop-hub>.topright {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
}

desktop-hub>.topright>.closebtn {
    height: 36px;
    aspect-ratio: 1;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 2px solid white;
    transition: background-color 0.1s ease-in-out;
}

desktop-hub>.topright>.closebtn:hover {
    background-color: #f444;
    transition: background-color 0.1s ease-in-out;
}


desktop-hub>.window-group {
    outline: solid 1px white;
    height: 100%;
    width: 100%;
    position: relative;
    grid-area: 2 / 1 / 4 / 2;
    backdrop-filter: blur(15px);
    background-color: #0006;
    border-radius: 16px;
}

desktop-hub>.message-widget {
    outline: solid 1px white;
    height: 100%;
    width: 100%;
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    backdrop-filter: blur(15px);
    background-color: #0006;
    border-radius: 16px;
}

desktop-hub>.weather-widget {
    outline: solid 1px white;
    height: 100%;
    width: 100%;
    position: relative;
    grid-area: 3 / 2 / 4 / 3;
    backdrop-filter: blur(15px);
    background-color: #0006;
    border-radius: 16px;
}

div.system-app-badge {
    background: #0007;
    color: #5e5;
    padding: 2px;
    position: absolute;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    bottom: 18px;
    left: 18px;
}

div.system-app-badge::after {
    opacity: 0;
    content: "System App";
    display: block;
    width: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    background: #222;
    position: absolute;
    white-space: nowrap;
    color: white;
    bottom: 110%;
    transition: opacity 0.1s ease-in-out;
}

div.system-app-badge:hover::after {
    transition: opacity 0.1s ease-in-out;
    opacity: 1;
    padding-inline: 6px;
    border-radius: 6px;
    padding-bottom: 3px;
    padding-top: 4px;
    width: fit-content;
}

div.desktop-symbol-background {
    filter: saturate(1) brightness(1) contrast(1);
    transition: filter 0.15s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top;
}

desktop-symbol[data-locked="true"]>div.desktop-symbol-background {
    filter: saturate(0.2) brightness(0.5) contrast(0.5);
    transition: filter 0.15s ease-in-out;
}

div.symbol-locked {
    position: absolute;
    /* text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000; */
    left: 50%;
    translate: -50% 0;
    padding: 6px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

desktop-symbol[data-locked="true"] > div.symbol-locked {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

body > div.backdrop {
    height: 100%;
    width: 100%;
    inset: 0;
    position: fixed;
    backdrop-filter: blur(50px);
}
