/* This file defines some reusable UI elements */

*,
:root {
    --white-glass-color: #fff4;
    --glass-blur: blur(15px);
    --window-color: #0009;
    --header-color: transparent;
    --colorPickerSliderColor: rgb(129, 53, 99);
    --colorPickerSliderShadowColor: rgba(33, 33, 33, 1);
    --colorPickerSliderBackdrop: rgba(55, 55, 55, 1);
    --primaryBackground: #222;
    --primaryText: #eee;
    --uiElementShadow: 0 0 12px #000a;
    --uiElementShadowHover: 0 0 12px #fff4;
}

/* ERROR MESSAGES */
error-button {
    height: 24px;
    line-height: 24px;
    border-radius: 1000px;
    padding-inline: 24px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px white;
    position: relative;
    width: fit-content;
    margin-inline: 6px;
    font-size: 14px;
    font-weight: 300;
}

error-button:hover {
    background-color: #fff4;
}

error-button:active {
    background-color: #fff8;
}

error-button[data-main="true"] {
    color: black !important;
    background-color: white;
    font-weight: 500;
}

error-button[data-main="true"]:hover {
    background-color: #bbb;
    border: solid 2px #bbb
}

error-button[data-main="true"]:active {
    background-color: #888;
    border: solid 2px #888;
}

error-box {
    min-width: 240px;
    min-height: 120px;
    height: auto;
    width: auto;
    max-height: 640px;
    max-width: 320px;
    border-radius: 6px;
    background-color: #0008;
    backdrop-filter: blur(15px);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000;
    padding: 4px 4px 2px 4px;
    overflow: hidden;
}

error-box>.container {
    top: 0;
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 32px 1fr 40px;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    position: relative;
}

error-box>.container>.error-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
}

error-box>.container>.error-description {
    color: white;
    width: 100%;
    height: 100%;
    display: block;
    grid-area: 2 / 2 / 3 / 3;
    font-size: 16px;
    font-weight: 300;
    padding-inline: 6px;
    box-sizing: border-box;
}

error-box>.container>.error-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: 3 / 2 / 4 / 3;
    white-space: nowrap;
}

error-box>.container>.error-description>pre {
    font-size: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-weight: 500;
}

error-box::before {
    /* Header */
    content: attr(data-title);
    color: white;
    font-weight: 500;
    display: block;
    position: absolute;
    box-sizing: border-box;
    height: 28px;
    line-height: 28px;
    padding-left: 12px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: solid 1px #fff2;
    background-color: #fff1;
}

/* DESKTOP SYMBOLS */

desktop-symbol {
    width: 96px;
    aspect-ratio: 3/2;
    position: fixed;
    border-radius: 3px;
    vertical-align: bottom;
    text-align: center;
    background-color: rgba(206, 206, 255, 0);
    ;
    border: solid 1px transparent;
    cursor: pointer;
    font-weight: 300;
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top;
    transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out;
    filter: drop-shadow(0px 0px 5px #2228);
}

desktop-symbol[data-selected="true"] {
    background-color: rgba(206, 206, 255, 0.1);
    ;
    border: solid 1px rgba(206, 206, 255, 0.2);
    transition: all 0.1s;
}

desktop-symbol::after {
    content: attr(data-name);
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: 0px 0px 5px black;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

desktop-symbol::before {
    --text: "/media/desktopicons?i=" + attr(data-appid);
    background-image: var(--text);
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    content: var(--text);
}

desktop-symbol:hover {
    background-color: rgba(206, 206, 255, 0.2);
    ;
    border: solid 1px rgba(206, 206, 255, 0.5);
    transition: all 0.1s;
}

desktop-symbol.empty {
    visibility: hidden;
}

/* TASKBAR */

task-bar {
    height: 48px;
    padding: 3px;
    border-radius: 6px;
    background-color: #fff3;
    backdrop-filter: blur(4px);
    display: block;
    z-index: 10000;
    width: fit-content;
    bottom: 3%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

taskbar-button {
    height: 100%;
    position: relative;
    display: inline-block;
    aspect-ratio: 1;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 3px;
}

taskbar-button[data-active="true"] {
    background-color: #fff4;
}

taskbar-button:hover {
    background-color: #fff3;
    transition: background-color 0.2s ease-in-out;
}

taskbar-button>.preview>.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ff04;
    z-index: 100000;
}

/* this shit needs transform scale probably */
taskbar-button>.preview {
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    transform: translateX(-50%);
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: 120px;
    width: 200px;
    padding: 30px 5px 5px 5px;
    background-color: #0001;
    backdrop-filter: blur(15px);
    border: solid 1px #fff1;
    overflow: hidden;
    border-radius: 6px;
}

taskbar-button>.preview::after {
    content: attr(data-title);
    position: absolute;
    top: 6px;
    font-size: 16px;
    font-weight: 300;
    left: 6px;
    display: block;
    width: calc(100% - 36px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

taskbar-button>div>div>.window-body {
    background-color: #222;
}

taskbar-button>.preview.active {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

taskbar-button:hover>.preview.active>* {
    height: auto;
    width: auto;
    position: relative;
}

taskbar-button[data-action="home"] {
    background-image: url("/media/icons?i=logo.png");
    background-size: contain;
}


/* STARTMENU */
start-menu {
    width: 500px;
    background-color: #fff4;
    backdrop-filter: blur(20px);
    position: fixed;
    display: block;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(-10% - 30px);
    height: 20px;
    transition: all 0.1s ease-in-out;
    z-index: 10000;
    padding: 12px;
}

start-menu[data-active="true"] {
    bottom: calc(3% + 60px);
    height: 400px;
    transition: all 0.1s ease-in-out;
}


desktop-search {
    height: 24px;
    bottom: -30px;
    position: fixed;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
    display: block;
    background-color: #0008;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding-block: 3px;
    padding-inline: 12px;
    transition: all 0.1s ease-in;
    z-index: 10000;
    opacity: 0;
}

desktop-search[data-active="true"] {
    bottom: calc(3% + 60px);
    transition: all 0.1s ease-out;
    opacity: 1
}


notification-box {
    display: grid;
    position: fixed;
    transition: top 1s ease-out;
    top: -80px;
    transform: translateX(-50%);
    left: 50%;
    background-color: #0008;
    backdrop-filter: blur(15px);
    width: 320px;
    height: 70px;
    grid-template-columns: 70px 240px;
    padding: 3px;
    column-gap: 10px;
    border-radius: 6px;
    z-index: 10001;
    color: #222;
}

notification-box[data-visible="false"] {
    transition: top 0.1s ease-out;
    top: -80px;
}

notification-box[data-visible="true"] {
    transition: top 0.1s ease-in;
    top: 48px;
}


toggle-switch {
    height: 18px;
    width: 40px;
    border: solid 2px white;
    border-radius: 29px;
    cursor: pointer;
    overflow: hidden;
}

toggle-switch[data-value="true"] {}

toggle-switch::before {
    content: "|◯";
    letter-spacing: 27px;
    padding-left: 12px;
    box-sizing: border-box;
    font-weight: 700;
    width: 60px;
    height: 100%;
    background: rgb(3, 0, 56);
    background: linear-gradient(90deg, rgba(0, 223, 0, 0.3) 50%, rgba(223, 0, 0, 0.3) 50% );
    display: block;
    left: -20px;
    transition: left 0.1s ease-in-out;
    position: relative;
    line-height: 18px;
    font-size: 11px;
    white-space: nowrap;
}

toggle-switch[data-value="true"]::before {
    left: 0px;
    transition: left 0.1s ease-in-out;
}

toggle-switch::after {
    align-self: center;
    content: "";
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: white;
    display: block;
    left: 0px;
    box-sizing: border-box;
    border: solid 2px transparent;
    position: relative;
    transition: left 0.1s ease-in-out;
    outline: solid 1px white;
    top:-100%;
}

toggle-switch[data-value="true"]::after {
    left: 22px;
    transition: left 0.1s ease-in-out;
}

div.colorwheel-backdrop {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    inset: 0;
    /* background-color: #0004; */
    z-index: 100000;
    /* backdrop-filter: blur(2px); */
}

colorpicker-container {
    height: 300px;
    width: 150px;
    position: fixed;
    background-color: #0008;
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0px 0px 15px 0px #000000;
    box-shadow: 0px 0px 15px 0px #000000;
    z-index: 100000;
    display: grid;
    grid-template-columns: 7px 128px;
    grid-template-rows: 134px 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding: 6px;
    border-radius: 6px;
}

colorpicker-brightness {
    width: 1px;
    padding: 3px;
    height: 128px;
    outline: solid white 2px;
    border-radius: 100px;
    display: block;
    background: rgb(0, 0, 0);
    grid-area: 1 / 1 / 2 / 2;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);
}

colorpicker-wheel {
    background: -moz-conic-gradient(hsl(90 100% 50%),
            hsl(135 100% 50%),
            hsl(180 100% 50%),
            hsl(225 100% 50%),
            hsl(270 100% 50%),
            hsl(315 100% 50%),
            hsl(0 100% 50%),
            hsl(45 100% 50%),
            hsl(90 100% 50%));
    background: -webkit-conic-gradient(hsl(90 100% 50%),
            hsl(135 100% 50%),
            hsl(180 100% 50%),
            hsl(225 100% 50%),
            hsl(270 100% 50%),
            hsl(315 100% 50%),
            hsl(0 100% 50%),
            hsl(45 100% 50%),
            hsl(90 100% 50%));
    background: conic-gradient(hsl(90 100% 50%),
            hsl(135 100% 50%),
            hsl(180 100% 50%),
            hsl(225 100% 50%),
            hsl(270 100% 50%),
            hsl(315 100% 50%),
            hsl(0 100% 50%),
            hsl(45 100% 50%),
            hsl(90 100% 50%));
    height: 128px;
    width: 128px;
    outline: solid 2px white;
    display: block;
    grid-area: 1 / 2 / 2 / 3;
    position: absolute;
    border-radius: 100%;
    top: 3px;
}

colorpicker-wheel>colorpicker-saturation {
    position: absolute;
    inset: 0;
    height: 100%;
    display: block;
    width: 100%;
    border-radius: 100%;
    backdrop-filter: grayscale(100%) brightness(0) invert(1);
    mask: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);
    mask: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);
    mask: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);
}

colorpicker-wheel>colorpicker-huewheelbright {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 100%;
    position: absolute;
}

colorpicker-wheel>colorpicker-huewheelmouse {
    height: 100%;
    display: block;
    width: 100%;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
}

colorpicker-indicator {
    position: absolute;
    height: 0;
    width: 0;
    outline: solid 1px black;
    border: solid 1px white;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    display: block;
    padding: 4px;
    left: 9.5px;
}

colorpicker-slidercontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 6px;
    grid-area: 2 / 1 / 3 / 3;
}


colormode-button {
    cursor: pointer;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    font-weight: 300;
    transition: background-color 0.2s ease-in-out, font-weight 0.1s ease-in-out;
}

colormode-button[data-selected="true"] {
    background-color: #248;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out, font-weight 0.1s ease-in-out;
}

colormode-button[data-mode="RGB"] {
    grid-area: 1 / 1 / 2 / 2;
}

colormode-button[data-mode="HSV"] {
    grid-area: 1 / 2 / 2 / 3;
}

colormode-button[data-mode="HEX"] {
    grid-area: 1 / 3 / 2 / 4;
}

slider-group {
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto
}

slider-group>textbox-slider:nth-last-of-type(1) {
    border-radius: 0 0 3px 3px !important;
}

slider-group>textbox-slider:nth-of-type(1) {
    border-radius: 3px 3px 0 0 !important;
}

slider-group>textbox-slider:not(:nth-of-type(1)):not(:nth-last-of-type(1)) {
    border-radius: 0px;
}

slider-group>textbox-slider:not(:nth-of-type(1)) {
    border-top: solid 1px rgba(255, 255, 255, 0.1) !important
}

slider-group>span {
    font-size: 12px;
    font-weight: 300;
    margin-left: 6px;
    position: relative;
}


colorpicker-slidergrid {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 24px 72px 24px;
    grid-column-gap: 3px;
    grid-row-gap: 6px;
}



hex-box {
    height: 24px;
    width: 100%;
    inset: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    background-color: #2c2c2c;
    padding-inline: 6px;
    border-radius: 3px;
}

hex-box>span {
    line-height: 24px;
    font-size: 15px;
    font-weight: 300;
}

hex-box>input[type=text] {
    width: 100%;
    position: relative;
    padding: 0;
    line-height: 24px;
    font-size: 15px;
    background: transparent;
    outline: none;
    border: none;
    padding-inline: 6px;
    box-sizing: border-box;
    font-weight: 300;
}

hex-box>input[type=text]:focus {
    border: none;
    outline: none;
}




textbox-slider {
    background-color: var(--colorPickerSliderBackdrop);
    height: 24px;
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 3px;
    box-sizing: border-box;
    pointer-events: relative;
}

textbox-slider>div.indicator {
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--colorPickerSliderColor);
    display: block;
    height: 100%;
}

textbox-slider>div.grid {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;

}

textbox-slider>div.grid>input[type="number"]::-webkit-outer-spin-button,
textbox-slider>div.grid>input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textbox-slider>div.grid>input[type="number"] {
    -moz-appearance: textfield;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding-left: 12px;
    font-size: 15px;
    font-weight: 300;
}


textbox-slider>div.grid>input[type=number]:focus,
textbox-slider>input[type=range]:focus {
    outline: none;
}

textbox-slider>div.grid>span {
    height: 100%;
    display: block;
    font-size: 15px;
    top: -100%;
    position: relative;
    line-height: 24px;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 6px;
    font-weight: 300;
}

textbox-slider>input[type="range"] {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: -200%;
}


textbox-slider>input[type=range] {
    height: 100%;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
}

textbox-slider>input[type=range]:focus {
    outline: none;
}



textbox-slider>input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: 0px;
    border: none;
    height: 24px;
    width: 0;
    border-radius: 0px;
    background: transparent;
    cursor: ew-resize;
}

textbox-slider>input[type=range]::-moz-range-thumb {
    border: none;
    height: 24px;
    width: 0;
    border-radius: 0px;
    background: transparent;
    cursor: ew-resize;
}


textbox-slider>input[type=range]::-ms-thumb {
    border: none;
    height: 24px;
    width: 0;
    border-radius: 0px;
    background: transparent;
    cursor: ew-resize;
    margin-top: 1px;
}

textbox-slider>input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 24px;
    cursor: ew-resize;
    background: transparent;
    border-radius: 1px;
    border: none;
}

textbox-slider>input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}

textbox-slider>input[type=range]::-moz-range-track {
    width: 100%;
    height: 24px;
    cursor: ew-resize;
    background: transparent;
    border-radius: 1px;
}

textbox-slider>input[type=range]::-ms-track {
    width: 100%;
    height: 24px;
    cursor: ew-resize;
    animate: 0.2s;
    background: transparent;
    ;
    border: none;
    color: transparent;
}

textbox-slider>input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

textbox-slider>input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}



textbox-slider>input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
}

textbox-slider>input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
}

dropdown-menu {
    height: 36px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 36px;
    grid-template-rows: 24px;
    grid-column-gap: 6px;
    grid-row-gap: 0px;
    background: #333;
    align-self: start;
    position: relative;
    transition: box-shadow 0.1s ease-in-out;
    border-radius: 6px;
    box-shadow: 0 0 4px #0008;
    cursor: pointer;
}

dropdown-menu:hover {
    box-shadow: 0 0 6px #fff4;
}

dropdown-menu[data-open="true"] {
    box-shadow: 0 0 4px #0000;
    transition: box-shadow 0.1s ease-in-out;
}

dropdown-menu[data-open="true"]>dropdown-list {
    height: fit-content;
}

dropdown-menu::before {
    position: relative;
    content: attr(data-value);
    font-weight: 300;
    left: 12px;
    line-height: 36px;
    display: block;
    width: 100%;
    z-index: 0;
    height: 36px;
}

dropdown-menu::after {
    content: "▼";
    transform-origin: center center;
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
    justify-content: center;
    text-align: center;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
    font-size: 12px;
}

dropdown-menu[data-open="true"]::after {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
}

dropdown-list {
    max-height: 120px;
    width: calc(100% - 36px);
    transition: height 0.2s ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
    position: absolute;
    background-color: #222;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 36px);
    grid-column-gap: 0px;
    grid-row-gap: 3px;
    border-radius: 6px 0 6px 6px;
    box-shadow: 0 0 4px #0008;
    cursor: default;
}



*:has(dropdown-menu[data-open="true"]) {
    z-index: 100000;
    /* position: absolute; */
}

dropdown-list>dropdown-element {
    font-weight: 300;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

dropdown-list>dropdown-element:hover {
    background-color: #fff2;
    transition: background-color 0.1s ease-in-out;
}

dropdown-list>dropdown-element[data-selected="true"] {
    background-color: #fff4;
    font-weight: 500;
}

dropdown-list>dropdown-element[data-selected="true"]:hover {
    background-color: #fff6;
}

textdropdown-main {
    width: 100%;
    height: 36px;
    display: flex;
}

textdropdown-main>input {
    width: 100%;
}

textdropdown-list {
    position: absolute;
    display: block;
    top: 22px;
    padding-top: 18px;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #222;
}

textdropdown-element {
    width: 100%;
    height: 36px;
    display: block;
    align-content: center;
    padding-inline: 12px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
}

textdropdown-element:hover {
    background-color: #fff2;
}

selector-box {
    border: solid 1px #88a;
    background-color: #88a4;
    border-radius: 3px;
    position: fixed;
    z-index: -1;
    width: 100px;
    height: 100px;
}

context-menu {
    width: 240px;
    height: fit-content;
    background-color: #0006;
    border-radius: 3px;
    border: solid 1px #fff2;
    display: block;
    position: fixed;
    z-index: 1000000;
    backdrop-filter: var(--glass-blur);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.1s ease-out;
    pointer-events: none;
}

context-menu[data-visible="true"] {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

context-menu > span.text {
    font-size: 12px;
    color: #aaa;
    margin-left: 6px;
    margin-block: 2px;
    width: 100%;
}
context-menu > span.title {
    font-size: 14px;
    color: #fff;
    margin-left: 6px;
    margin-block: 3px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

context-menu > hr {
    display: block;
  width: 100%;
  height: 1px;
  outline: none;
  border: none;
  background: #fff4;
  margin-block: 6px;
}

context-menu > context-menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    height: fit-content;
}

context-menu > context-menu-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    height: fit-content;
    width: 100%;
    margin-block: 4px;
}

context-menu > context-menu-grid:first-child {
    margin-top: 3px;
}
context-menu > context-menu-grid:last-child {
    margin-bottom: 3px;
}

context-menu > context-menu-grid > context-menu-element {
    height: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    aspect-ratio: 1;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

context-menu > context-menu-list > context-menu-element[enabled="false"],
context-menu > context-menu-grid > context-menu-element[enabled="false"],
context-menu > context-menu-list > context-menu-element[enabled="false"] > *,
context-menu > context-menu-grid > context-menu-element[enabled="false"] > * {
    color: #999;
    pointer-events: none;
}



context-menu > context-menu-grid > context-menu-element:hover::after {
    content: attr(data-label);
    position: absolute;
    bottom: 2.5rem;
    background-color: #333;
    padding-inline: 6px;
    padding-block: 3px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
    font-size: 12px;
}

context-menu > context-menu-list > context-menu-element:first-child {
    margin-top: 0;
}

context-menu > context-menu-list > context-menu-element:last-child {
    margin-bottom: 0;
}

context-menu > context-menu-list > context-menu-element {
    width: calc(100% - 1px);
    height: 24px;
    margin-block: 1px;
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 14px;
    align-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding-inline: 3px;
    box-sizing: border-box;
    position: relative;
}

context-menu-element {
    border-radius: 3px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}
context-menu-element:hover {
    background-color: #fff2;
    transition: background-color 0.2s ease-in-out;
}



context-menu-element > i {
    font-size: 18px;
  align-self: center;
  align-content: center;
}

context-menu > context-menu-grid > context-menu-element > i {
    justify-content: center;
    justify-self: center;
    font-size: 20px;
}

context-menu > context-menu-list > context-menu-element > span {
    align-content: center;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

context-menu > context-menu-list > context-menu-element[data-submenu="true"]>span::after {
    content: "▸";
    display: block;
    position: absolute;
    right: -3px;
    align-self: center;
    top: 2px;
}

input[type=button] {
    background-color: var(--primaryBackground);
    color: var(--primaryText);
    box-shadow: var(--uiElementShadow);
    filter: brightness(1);
    width: fit-content;
    padding-inline: 12px;
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: filter 0.1s ease-out;
}

input[type=button]:hover {
    filter: brightness(1.4);
    transition: filter 0.1s ease-in;
}

input[type=button]:active {
    filter: brightness(1.6);
}

desktop-widget {
    position: fixed;
    z-index: -1;
}

password-prompt {
    height: 200px;
    width: 450px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    position: fixed;
    background: var(--window-background);
    border-radius: var(--window-border-radius);
    padding-top: var(--window-padding-top);
    padding-bottom: var(--window-padding-bottom);
    border: var(--window-border-style) var(--window-border-width) var(--window-border-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(var(--window-header-height) + var(--window-header-padding-block)) 1fr 48px;
    z-index: 10000000;
    overflow: hidden;
    backdrop-filter: var(--window-backdrop-filter);
}

password-prompt > password-prompt-header {
    background: var(--window-header-background); /*var(--window-header-background);*/
    padding-left: calc(var(--window-header-padding-left) + var(--window-padding-inline));
    padding-right: calc(var(--window-header-padding-right) + var(--window-padding-inline));
    display: grid;
    grid-template-columns: var(--window-header-icon-size) 1fr var(--window-header-close-width);
}

password-prompt > password-prompt-header > span {
    align-self: center;
    font-size: var(--window-header-title-size);
    font-weight: var(--window-header-title-weight);
}

password-prompt > password-prompt-header > div,
password-prompt > password-prompt-header > a {
    align-items: center;
    justify-content: center;
    display: flex;
}
password-prompt > password-prompt-header > a {
    justify-self: right;
    align-self: center;
    border-radius: var(--window-header-button-cls-border-radius);
}

password-prompt > password-prompt-body {
    /* background: #0f04; */
    display: grid;
    grid-template-columns: 92px 1fr;
    background: var(--window-body-default-background);
    margin-inline: var(--window-padding-inline);
    border-radius: calc( var(--window-border-radius) - var(--window-padding-bottom) ) calc( var(--window-border-radius) - var(--window-padding-bottom) ) 0 0;
}
password-prompt > password-prompt-body > * {
    align-items: center;
    align-self: center;
    display: flex;
}
password-prompt > password-prompt-body > div.icon {
    padding-inline: 12.5%;
    justify-content: center;
    display: flex;
}
password-prompt > password-prompt-body > div.message {
    /* background: #ff02; */
    display: grid;
    align-self: center;
    grid-template-rows: auto auto;
    grid-row-gap: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
}

password-prompt > password-prompt-body > div.message > input {
    box-shadow: 0 0 12px #0008;
    border: solid 1px #fff4 !important;
}

password-prompt > password-prompt-buttons {
    background: var(--window-body-default-background);
    border-radius: 0 0 calc( var(--window-border-radius) - var(--window-padding-bottom) )
    calc( var(--window-border-radius) - var(--window-padding-bottom) );
    margin-inline: var(--window-padding-inline);
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 12px;
    padding-inline: 12px;
}

password-prompt > password-prompt-buttons > input {
}
