.settings-sidebar {
	min-width: 400px;
	max-width: 600px;
	width: 33%;
	height: 100%;
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
}

.settings-main {
	position: relative;
	height: 100%;
	display: inline-block;
	width: -moz-available; width: -webkit-fill-available;
	overflow-y: scroll;
	overflow-x: hidden;
}

.settings-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: inline-flex;
}

.settings-sidebar-top {
	height: 200px;
	width: 100%;
	display: block;
	position: absolute;
	overflow: hidden;
}

.settings-sidebar-bottom {
	height: calc(100% - 200px);
	width: 100%;
	position: absolute;
	top: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.settings-sidebar-element {
	border-radius: 6px;
	height: 48px;
	width: calc(90% - 30px);
	left: 30px;
	position: relative;
	display: block;
	margin: 6px 0 6px 0;
	color: white;
	cursor: pointer;
	transition: background-color 0.2s;
}

.settings-sidebar-element[data-selected="true"] {
	background-color: rgba(255,255,255,0.2);
}

.settings-sidebar-element[data-selected="true"]:hover {
	background-color: rgba(255,255,255,0.3);
}

.settings-sidebar-element:hover {
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s;
}

.sidebar-element-icon {
	width: 48px;
	height: 48px;
	position: absolute;
	left:0;
	top: 0;
	text-align: center;
	line-height: 48px;
}

.sidebar-element-text {
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	left: 58px;
	width: calc(100% - 58px);
	position: absolute;
}
.sidebar-pfp {
	height: 120px;
	top: 40px;
	left: 15px;
	position: absolute;
	width: 120px;
	border-radius: 100%;
	overflow: hidden;
	background-size: cover;
	background-image: url("/content/images?i=default.jpg");
}

.settings-username-field {
	position: absolute;
	top: 60px;
	height: 80px;
	left: 150px;
	width: calc(100% - 150px);
}

.settings-nick {
	background-color: rgba(0,0,0,0);
	position: absolute; 
	top: 6px;
	left: -6px;
	width: 96%;
	height: 36px;
	padding: 3px;
	color: white;
	font-size: 22px;
	outline: none;
	border: solid 3px rgba(0,0,0,0);
	line-height: 36px;
	border-radius: 3px;
}

.settings-nick-red {
	border-radius: 0 0 3px 3px !important;
	border: solid 3px rgba(255,0,0,0.5) !important;
}
.settings-nick-red:focus {
	border: solid 3px rgba(255,0,0,0.5) !important;
}

.settings-nick:focus {
	outline: none;
	border: solid 3px rgba(0,0,0,0);
	background-color: rgba(0,0,0,0.2);
}

.settings-nickname {
	z-index: 10;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.settings-username {
	position: absolute;
	top: 48px;
	font-size: 18px;
	line-height: 32px;
}

.nickname-warning {
	border-top: solid 3px rgba(255,0,0,0.5);
	border-left: solid 3px rgba(255,0,0,0.5);
	border-right: solid 3px rgba(255,0,0,0.5);
	border-bottom: none;
	background-color: rgba(255,0,0,0.2);
	font-size: 18px;
	line-height: 24px;
	position: absolute;
	bottom: 74px;
	left: -6px;
	width: calc(96% - 6px);
	display: block;
	padding: 3px 6px 3px 6px;
	border-radius: 6px 6px 0 0;
}



.sidebar-pfp-edit {
	opacity: 0;
	color: white;
	line-height: 135px;
	cursor: pointer;
	display:block;
}
.sidebar-pfp-edit:hover {
	opacity: 1;
	background-color: rgba(0,0,0,0.4);
}

.settings-container {
	width: 100%;
	height: 90%;
	box-sizing: border-box;
	padding: 18px;
	overflow-x: visible;
	overflow-y: scroll;
	display: flex;
	flex:12px;
	flex-direction: column;
}

.settings-element {
	margin: 6px;
	height: 48px;
	display: grid;
	grid-template-columns: 360px 1fr;
	grid-column-gap: 12px;
	font-size: 24px;
}


.settings-element:hover {
	background-color: rgba(255,255,255,0.06);
	transition: background-color 0.2s ease-in-out;
}

.settings-element > div:nth-child(1) {
	display: grid;
	align-items: center;
	justify-content: left;
	justify-items: left;
	padding-inline: 12px;
	box-sizing: border-box;
}

.settings-element > div:nth-child(2) {
	display: grid;
	align-items: center;
	justify-content: left;
	justify-items: left;
	padding-inline: 12px;
	box-sizing: border-box;
}

.settings-textbox {
	resize: none;
	outline: none;
	border: none;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.4);
	color: white;
}
.settings-textbox:active {
	background-color: rgba(0,0,0,0.6);
}